{% load django_bootstrap5 %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
        shrink-to-fit=no">
    <title>Happy Cherries</title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}
    
    <!-- Adding some custom styling for the dropdown menu
        Added some styling to make it so can hover over the button.  
    -->
    <style>
        .navbar-dark .navbar-nav .nav-link {
            color: #fff; /* Example text color */
        }
        .navbar-dark .navbar-nav .dropdown-menu {
            background-color: #343a40; /* Same as .bg-dark */
        }
        .navbar-dark .navbar-nav .dropdown-item {
            color: #fff; /* Example text color */
        }
        .navbar-dark .navbar-nav .dropdown-item:hover,
        .navbar-dark .navbar-nav .dropdown-item:focus {
            background-color: #495057; /* Slightly lighter than .bg-dark for hover */
        }
        
        .dropdown:hover>.dropdown-menu {
            display: block;
        }
          
        .dropdown>.dropdown-toggle:active {
            /*Without this, clicking will make it sticky*/
              pointer-events: none;
        }

    </style>

</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a class="navbar-brand ms-4" href="{% url 'happy_cherries:index' %}">Home</a>

        <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" 
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ms-4" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'happy_cherries:movies' %}">Movies Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                        Movie List
                    </a>
                    <ul class="dropdown-menu" data-bs-popper="static">
                        <li>
                            <a class="dropdown-item" href="{% url 'happy_cherries:movie_search' %}">Search</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'happy_cherries:top_rated_movies' %}">Top Rated Movies</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'happy_cherries:upcoming_movies' %}">Upcoming Movies</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'happy_cherries:now_playing_movies' %}">Now Playing Movies</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'happy_cherries:popular_movies' %}">Popular Movies</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'happy_cherries:tvshows' %}">Tv Shows Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                        TV Shows List
                    </a>
                    <ul class="dropdown-menu" data-bs-popper="static">
                        <li><a class="dropdown-item" href="{% url 'happy_cherries:tvshow_search' %}">Search</a></li>
                        <li><a class="dropdown-item" href="{% url 'happy_cherries:top_rated_tvshows' %}">Top Rated TV Shows</a></li>
                        <li><a class="dropdown-item" href="{% url 'happy_cherries:upcoming_tvshows' %}">Upcoming TV Shows</a></li>
                        <li><a class="dropdown-item" href="{% url 'happy_cherries:now_airing_tvshows' %}">Now Airing TV Shows</a></li>
                        <li><a class="dropdown-item" href="{% url 'happy_cherries:popular_tvshows' %}">Popular TV Shows</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto me-4">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <div class="navbar-text">{{ user.username }}</div>
                </li>
                <li class="nav-item">
                    <form action="{% url 'users:logout' %}" method='post'>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-link nav-link">Log out</button>
                    </form>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:login' %}">Log in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:register' %}">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <main role="main" class="container">
        <div class="mb-2 pb-2">
            {% block page_header %}{% endblock page_header %}
        </div>
        <div>
            {% block content %}{% endblock content %}
        </div>
    </main>

</body>
</html>



<!--
    In the context of the navbar, using ms-auto on a <ul> element inside the navbar 
    means that the list of items will be pushed to the right side of the navbar, 
    as the left margin (start margin in LTR) is set to auto, taking up all the 
    available space to the left.
    Spacing: https://getbootstrap.com/docs/5.3/utilities/spacing/#margin-and-padding
-->