{% extends "happy_cherries/base.html" %}

{% block page_header %}
<div class="d-flex align-items-center justify-content-center border-bottom border-warning position-relative">
    <h2 class="display-5 fw-bold text-warning">
        {{ title }}
    </h2>
</div>
<div class="my-2 d-flex justify-content-end"> 
    <form class="d-flex align-items-center me-2 w-25" method="post"> 
        {% csrf_token %} 
        <div class="input-group"> 
            <input type="text" name="search_query" class="form-control" 
            {% if media_type == "movie" %}placeholder="Search Movie"
            {% else %}placeholder="Search Show"
            {% endif %}
            style="max-width: 400px;" {% if search_query %}value="{{ search_query }}"{% endif %}> 
            <button class="btn btn-primary"> 
                <i class="bi bi-search"></i> 
            </button> 
        </div> 
    </form>
    {% if is_delete %}
        <form method='post'>
            {% csrf_token %}
            <input type="hidden" name="action" value="save_media">
            <button type="submit" class="btn btn-success">
                <i class="bi bi-check-circle" ></i>
            </button>
        </form>
    {% else %}
        <form method='post'>
            {% csrf_token %}
            <input type="hidden" name="action" value="delete_media">
            <button type="submit" class="btn btn-danger">
                <i class="bi bi-dash-circle"></i>
            </button>
        </form>
    {% endif %}
</div>
{% endblock page_header %}

{% block content %}
<div class="container">
    <div class="row row-cols-auto">
        {% for m in media %}
            <div class="col mb-2">
                <div class="card h-100 d-flex flex-column" style="max-width: 220px;">
                    <a {% if media_type == "movie" %}href="{% url 'happy_cherries:movie' m.id %}"
                    {% else %}href="{% url 'happy_cherries:tvshow' m.id %}"{% endif %}
                    class="text-decoration-none text-reset d-flex flex-column h-100">
                        {% if m.avg_score %}
                            {% if m.avg_score < 50 %}
                                <span class="badge text-bg-danger" style="position: absolute; top: 10px; left: 10px; font-size: 12px;">
                                    {{ m.avg_score }} %
                                </span>
                            {% else %}
                                <span class="badge text-bg-success" style="position: absolute; top: 10px; left: 10px; font-size: 12px;">
                                    {{ m.avg_score }} %
                                </span>
                            {% endif %}
                        {% endif %}
                        <img src="{{ m.poster_path }}" class="card-img-top" alt="poster_image">
                        <div class="card-body d-flex flex-column flex-grow-1">
                            <h5 class="card-title">
                                {{ m.title }}
                            </h5>
                            <p class="card-text">
                                <span class="fw-lighter fst-italic">{{ m.tagline }}</span>
                            </p>
                        </div>
                        <!-- Footer inside the link and always at the bottom -->
                        <div class="card-footer mt-auto">
                            {% for genre in m.genres %}
                                <span class="badge rounded-pill text-bg-dark">{{ genre }}</span>
                            {% endfor %}
                        </div>
                    </a>

                    {% if is_delete %}
                        <button class="btn btn-danger btn-sm rounded-pill fw-bold"
                            style="position: absolute; top: 10px; right: 10px; font-size: 12px;"
                            data-bs-toggle="modal" data-bs-target="#deleteModalLabel-{{ m.id }}"
                            onclick="event.stopPropagation();">
                            X
                        </button>
                    {% endif %}
                </div>
            </div>

            <!-- Modal for Movie Deletion -->
            <div class="modal fade" id="deleteModalLabel-{{ m.id }}" tabindex="-1" aria-labelledby="deleteModalLabelReview-{{ m.id }}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel-{{ m.id }}">Confirm Deletion</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete this Movie "<strong>{{ m.title }}</strong>"?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <form method="post" {% if media_type == "movie" %}action="{% url 'happy_cherries:delete_movie' m.id %}"
                            {% else %}action="{% url 'happy_cherries:delete_tvshow' m.id %}"{% endif %}>
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Confirm Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
        <div class="d-flex justify-content-center align-items-center w-100"> 
            <div class="card w-50 mb-3 text-center p-0"> 
                <div class="card text-center"> 
                    <div class="card-header"> 
                        <h5 class="card-title">No Media has been added yet ...</h5> 
                    </div> 
                    <div class="card-body"> 
                        <p class="card-text">
                            It seems like your list is empty. Start exploring and add movies and show to see them appear in your list!
                        </p> 
                        <a {% if media_type == "movie" %}href="{% url 'happy_cherries:movies_search' %}" 
                        {% else %}href="{% url 'happy_cherries:tvshow_search' %}"{% endif %}
                        class="btn btn-warning btn-lg text-dark fw-semibold"> 
                            {% if media_type == "movie" %}Search Movies 
                            {% else %}Search Tv Shows{% endif %} 
                        </a> 
                    </div> 
                </div> 
            </div> 
        </div>
        {% endfor %}
    </div>
</div>



{% endblock content %}