{% extends "happy_cherries/base.html" %}

{% block content %}

    <div class="container text-center mt-4">
        <div class="row justify-content-center">
            <div class="col-md-12 position-relative">
                <div class="row position-relative align-items-start text-bg-dark border rounded-3 p-3">
                    <div class="d-flex align-items-center mb-3 w-100">
                    {% if movie.avg_score %}
                        {% if movie.avg_score < 50 %}
                            <!--Can sett style > position: absolute to fit the badge on top of the image.-->
                            <span class="badge text-bg-danger position-absolute" style="top: 50px; left: 50px; font-size: 16px;">
                                {{ movie.avg_score}} %
                            </span>
                        {% else %}
                            <span class="badge text-bg-success position-absolute" style="top: 50px; left: 50px; font-size: 16px;">
                                {{ movie.avg_score}} %
                            </span>
                        {% endif %}
                    {% endif %}
                    </div>
                    <div class="col-md-4 text-center d-flex flex-column">
                        <img src="{{ movie.poster_path }}" class="img-fluid rounded float-start" alt="tvshow_poster">
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-7 text-start">    
                        <h1 class="text-center border-bottom border-white my-2">{{ movie.title }}</h1>
                        <p>Release Date: <span class="fw-bold">{{ movie.release_date }}</span></p>
                        <p>Duration: <span class="fw-bold">{{ movie.runtime }} min</span></p>
                        <p> {{ movie.overview }} </p>
                        <p class="fw-bold">Actors</p>
                        <p>
                            {% for actor in movie.cast_spl %}
                                <span class="badge rounded-pill text-bg-danger">{{ actor }}</span>
                            {% endfor %}
                        </p>
                        <p class="fw-bold">Genres</p>
                        <p>
                            {% for genre in movie.genre_spl %}
                                <span class="badge rounded-pill text-bg-primary">{{ genre }}</span>
                            {% endfor %}
                        </p>
                        <p class="fw-lighter fst-italic text-center mt-5">
                            {{ movie.tagline}}
                        </p>
                    </div>
                    <div class="col-md-12 position-relative" style="margin-top: 20px;">
                        <a class="btn btn-primary fw-bold position-absolute end-0" href="{% url "happy_cherries:create_extended_review_movie" movie.id %}">
                            Personal Review
                        </a>
                    </div>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-4 text-start" style="margin-top: 70px;">
                        <p>Status: {{ extended_review.status }}</p>
                        <p>First time watched: {{ extended_review.first_time_watched }}</p>
                        <p>Last time watched: {{ extended_review.last_time_watched }}</p>
                        <p>Your score: {{ extended_review.your_score }}</p>
                        <p>Finish date: {{ extended_review.finish_date }}</p>
                        <p>Finish date unknown: {{ extended_review.finish_date_unknown }}</p>
                    </div>
                    <div class="col-md-4 text-start" style="margin-top: 70px;">
                        </p>Priority: {{ extended_review.priority }}</p>
                        </p>Times Rewatched: {{ extended_review.total_times_rewatched }}</p>
                        </p>Rewatch value: {{ extended_review.rewatch_value }}</p>
                        </p>Extensive comment: {{ extended_review.comment }}</p>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Ensure the box has a position property set that allows position within it.-->
    <div class="position-relative bg-dark text-bg-dark border rounded-2 mt-4 p-2">
        <h2 class="text-center">Reviews</h2>

        <div class="position-absolute top-0 end-0 m-3">
            <a class="btn btn-primary fw-bold mx-2" href="{% url 'happy_cherries:add_review_movie' movie.id %}">Add Review</a>
        </div>
        <div class="row">
            {% for review in reviews %}
                <div class="col-md-6">
                    <section class="mx-auto my-4">
                        <div class="card position-relative">
                            <div class="card-header d-flex align-items-center">
                                <h5 class="card-title font-weight-bold my-2">{{ review.owner }}</h5> 
                                <!--ms-auto pushes it to the far right within the flex container, ensuring it aligns horizontally with the "User" title.-->
                                {% if request.user == review.movie.owner %}
                                <a class="btn btn-warning fw-bold ms-auto" href="{% url 'happy_cherries:edit_review_movie' review.id %}">Edit</a>
                                <a class="btn btn-danger fw-bold ms-auto" href="{% url 'happy_cherries:delete_review_movie' review.id %}">Delete</a>
                                {% endif %}
                            </div>
                            <div class="card-body">
                                <div class="card-text mb-0">
                                    <p>
                                      {{ review.review|linebreaks }}
                                    </p>
                                    <hr>
                                    <p class="fw-bold">
                                    {{ review.score }} %
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            {% empty %}
                <p>No reviews have been added</p>
            {% endfor %}
        </div>
    </div>  

{% endblock content %}