{% extends "happy_cherries/base.html" %}

{% block content %}

    <a href="{% url 'happy_cherries:add_movie_manual' %}">Add Movie manual</a> -
    <a href="{% url 'happy_cherries:movie_search' %}">Movie search</a>

    <h2>Movies:</h2>

    <ul>
        {% for movie in movies %}
            <li> <!--Parse the movie ID saved in the dictionary as value to function -->
                <a href="{% url 'happy_cherries:movie' movie.id %}">{{movie.title}}{% if movie.avg_score %} - {{ movie.avg_score }}{% endif %}</a>
            </li> 
        {% empty %}
            <li>No movies added yet</li>
        {% endfor %}
    </ul>

{% endblock content %}