{% extends 'happy_cherries/base.html' %}

{% load django_bootstrap5 %}    <!--Need tag to load Bootstrap Forms-->

{% block page_header %}

<h2>Extended Review</h2>

{% endblock page_header %}

{% block content %}


<form action="{% url "happy_cherries:create_extended_review_movie" movie.id %}" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {{ form.media }}
    <button type="submit">Save Extended Review</button>
</form>

<script>
    $(function () {
      $("#id_first_time_watched, #id_last_time_watched, #id_finish_date").datepicker();
    });
</script>

{% endblock content %}

