{% extends "happy_cherries/base.html" %}

{% block content %}

    <div class="text-center mt-4">
        <div class="row justify-content-center">
            <div class="col-md-12 position-relative">
                <div class="row position-relative align-items-start text-bg-dark border rounded-3 p-3">
                    <div class="d-flex align-items-center mb-3 w-100">
                    {% if movie.avg_score %}
                        {% if movie.avg_score < 50 %}
                            <!--Can sett style > position: absolute to fit the badge on top of the image.-->
                            <span class="badge text-bg-danger position-absolute" style="top: 50px; left: 50px; font-size: 16px;">
                                {{ movie.avg_score}} %
                            </span>
                        {% else %}
                            <span class="badge text-bg-success position-absolute" style="top: 50px; left: 50px; font-size: 16px;">
                                {{ movie.avg_score}} %
                            </span>
                        {% endif %}
                    {% endif %}
                    </div>
                    <div class="col-md-4 text-center d-flex flex-column">
                        <img src="{{ movie.poster_path }}" class="img-fluid rounded float-start" alt="movie_poster">
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-7 text-start">
                        {% if is_owner %}
                            <!-- Flex container for buttons -->
                            <div class="d-flex justify-content-end gap-1">
                                {% if not in_watchlist %}
                                <form method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="action" value="save_watchlist">
                                    <button type="submit" class="btn btn-primary">Add Watchlist</button>
                                </form>
                                {% endif %}
                                {% if not in_favorite %}
                                <form method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="action" value="save_favorite">
                                    <button type="submit" class="btn btn-warning">Favorite</button>
                                </form>  
                                {% endif %}
                    
                                {% if is_owner %}
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                    Delete Movie
                                </button>
                                {% endif %}
                            </div>
                        {% endif %}    
                        <h1 class="text-center border-bottom border-white my-2 p-2">{{ movie.title }}</h1>
                        <!--Display Movie information-->
                        <div class="mb-4">
                            <table class="table">
                                <tr>
                                    <td class="bg-dark text-white text-start" style="padding: 10px;">
                                        <strong>Release date</strong>
                                    </td>
                                    <td class="bg-dark text-primary text-center" style="padding: 10px;">
                                        {{ movie.release_date|date:"d M, Y" }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="bg-dark text-white text-start" style="padding: 10px;">
                                        <strong>Runtime</strong>
                                    </td>
                                    <td class="bg-dark text-primary text-center" style="padding: 10px;">
                                        {{ movie.runtime }}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <p class="fw-bold">Overview</p>
                        <p> {{ movie.overview }} </p>
                        <p class="fw-bold">Actors</p>
                        <div class="mt-4">
                            <p>
                                {% for actor in movie.cast_spl %}
                                    <span class="badge bg-warning text-dark p-2 mt-2">{{ actor }}</span>
                                {% endfor %}
                            </p>
                            <p class="fw-bold">Genres</p>
                            <p>
                                {% for genre in movie.genre_spl %}
                                    <span class="badge bg-primary text-dark p-2 mt-2">{{ genre }}</span>
                                {% endfor %}
                            </p>
                            <div class="text-center mt-5">
                                <p>
                                    <span class="fw-lighter fst-italic">{{ movie.tagline }}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 position-relative" style="margin-top: 20px;">
                        <h2 class="text-center border-top border-white mt-4 p-2">Personal Review</h2>
                        <a class="btn btn-primary fw-bold position-absolute end-0" style="margin-top: -40px;" href="{% url "happy_cherries:create_extended_review_movie" movie.id %}">
                            Personal Review &raquo;
                        </a>
                    </div>
                    <div class="col-md-5 mx-auto">
                        <table class="table" style="margin-top: 60px;">
                            <tr>
                                <td class="bg-dark text-white text-start" style="padding: 10px;">
                                    <strong>Status</strong>
                                </td>
                                <td class="bg-dark text-primary text-center" style="padding: 10px;">
                                    {{ extended_review.status }}
                                </td>
                            </tr>
                            <tr>
                                <td class="bg-dark text-white text-start" style="padding: 10px;">
                                    <strong>First time watched</strong>
                                </td>
                                <td class="bg-dark text-primary text-center" style="padding: 10px;">
                                    {{ extended_review.first_time_watched|date:"d M, Y" }}
                                </td>
                            </tr>
                            <tr>
                                <td class="bg-dark text-white text-start" style="padding: 10px;"> 
                                    <strong>Last time watched</strong>
                                </td>
                                <td class="bg-dark text-primary text-center" style="padding: 10px;">
                                    {{ extended_review.last_time_watched|date:"d M, Y" }}
                                </td>
                            </tr>
                            <tr>
                                <td class="bg-dark text-white text-start" style="padding: 10px;">
                                    <strong>Score</strong>
                                </td>
                                <td class="bg-dark text-primary text-center" style="padding: 10px;">
                                    {{ extended_review.your_score }}
                                </td>
                            </tr>
                            <tr>
                                <td class="bg-dark text-white text-start" style="padding: 10px;" >
                                    <strong>Date finished</strong>
                                </td>
                                <td class="bg-dark text-primary text-center" style="padding: 10px;">
                                    {{ extended_review.finish_date|date:"d M, Y" }}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-5 mx-auto">
                        <table class="table" style="margin-top: 60px;">
                            <tr>
                                <td class="bg-dark text-white text-start" style="padding: 10px;" >
                                    <strong>Date finished unknown</strong>
                                </td>
                                <td class="bg-dark text-primary text-center" style="padding: 10px;">
                                    {{ extended_review.finish_date_unknown }}
                                </td>
                            </tr>
                            <tr>
                                <td class="bg-dark text-white text-start" style="padding: 10px;" >
                                    <strong>Priority</strong>
                                </td>
                                <td class="bg-dark text-primary text-center" style="padding: 10px;">
                                    {{ extended_review.priority }}
                                </td>
                            </tr>
                            <tr>
                                <td class="bg-dark text-white text-start" style="padding: 10px;" >
                                    <strong>Total times rewatched</strong>
                                </td>
                                <td class="bg-dark text-primary text-center" style="padding: 10px;">
                                    {{ extended_review.total_times_rewatched }}
                                </td>
                            </tr>
                            <tr>
                                <td class="bg-dark text-white text-start" style="padding: 10px;" >
                                    <strong>Rewatch value</strong>
                                </td>
                                <td class="bg-dark text-primary text-center" style="padding: 10px;">
                                    {{ extended_review.rewatch_value }}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-8 text-center mt-4 mx-auto">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <strong>Personal comment</strong>
                            </li>
                            <li class="list-group-item">
                                    {{ extended_review.comment }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Ensure the box has a position property set that allows position within it.-->
    <div class="row position-relative align-items-start text-bg-dark border rounded-3 p-3 mt-3">
        <h2 class="text-center mb-4">Reviews</h2>

        <div class="position-absolute top-0 end-0 m-3">
            <a class="btn btn-primary fw-bold mx-2" href="{% url 'happy_cherries:add_review_movie' movie.id %}">Add Review</a>
        </div>
        <div class="row">
            {% for review in reviews %}
                <div class="col-md-6">
                    <section class="mx-auto my-4">
                        <div class="card position-relative">
                            <h5 class="card-header">{{ review.owner }}</h5> 
                            <div class="card-body">
                                <p class="card-text">
                                    {{ review.review|linebreaks }}
                                </p>
                                <hr>
                                <div class="fw-bold d-flex align-items-center">
                                <strong>{{ review.score }} %</strong>
                                <!--ms-auto pushes it to the far right within the flex container, ensuring it aligns horizontally with the "User" title.-->
                                {% if request.user == review.movie.owner %}
                                <a class="btn btn-warning fw-bold ms-auto me-2" href="{% url 'happy_cherries:edit_review_movie' review.id %}">Edit</a>
                                <a class="btn btn-danger fw-bold" href="{% url 'happy_cherries:delete_review_movie' review.id %}">Delete</a>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            {% empty %}
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-header">....</h5>
                    <div class="card-body">
                        <h5 class="card-title">No review has been posted</h5>
                        <p class="card-text">Cmon be the fisrt one to post a review &raquo;</p>
                        <a class="btn btn-primary fw-bold mx-2" href="{% url 'happy_cherries:add_review_movie' movie.id %}">Add Review</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
            {% endfor %}
        </div>
    </div>  


<!-- Bootstrap Modal for Delete Confirmation -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this movie?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="remove_movie">
                    <button type="submit" class="btn btn-danger">Confirm Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}