{% extends "happy_cherries/base.html" %}

{% block page_header %}{% endblock page_header %}

{% block content %}

<div class="container text-center mt-4">
    <div class="row justify-content-center">
        <div class="col-md-12 position-relative">
            <div class="row position-relative align-items-start text-bg-dark border rounded-3 p-3">
                <div class="d-flex align-items-center mb-3 w-100">
                {% if tvshow.avg_score %}
                    {% if tvshow.avg_score < 50 %}
                        <!--Can sett style > position: absolute to fit the badge on top of the image.-->
                        <span class="badge text-bg-danger position-absolute" style="top: 50px; left: 50px; font-size: 16px;">
                            {{ tvshow.avg_score}} %
                        </span>
                    {% else %}
                        <span class="badge text-bg-success position-absolute" style="top: 50px; left: 50px; font-size: 16px;">
                            {{ tvshow.avg_score}} %
                        </span>
                    {% endif %}
                {% endif %}
                </div>
                <div class="col-md-4 text-center d-flex flex-column">
                    <img src="{{ tvshow.poster_path }}" class="img-fluid rounded float-start" alt="tvshow_poster">
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-7 text-start mu-2">
                    {% if is_owner %}
                        <!-- Flex container for buttons -->
                        <div class="d-flex justify-content-end gap-1">
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="action" value="save_watchlist">
                                <button type="submit" class="btn btn-danger">
                                    <i class="bi bi-bookmark-plus" style="font-size: 24px;"></i>
                                </button>
                            </form>
                
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="action" value="save_favorite">
                                <button type="submit" class="btn btn-warning">
                                    <i class="bi bi-bookmark-star" style="font-size: 24px;"></i>
                                </button>
                            </form>  
                
                            {% if saved == "Saved" %}
                            {% elif saved == "Unsaved" and is_owner %}
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="action" value="save_tvshow">
                                <button type="submit" class="btn btn-success">
                                    <i class="bi bi-file-plus" style="font-size: 24px;"></i>
                                </button>
                            </form>
                            {% endif %}
                        </div>
                    {% endif %}
                    <h1 class="text-center border-bottom border-white my-2 p-2">{{ tvshow.title }}</h1>
                    <!--Display Movie information-->
                    <div class="mb-4">
                        <table class="table">
                            <tr>
                                <td class="bg-dark text-white text-start" style="padding: 10px;">
                                    <strong>First Air Date</strong>
                                </td>
                                <td class="bg-dark text-primary text-center" style="padding: 10px;">
                                    {{ tvshow.first_air_date }}
                                </td>
                            </tr>
                            <tr>
                                <td class="bg-dark text-white text-start" style="padding: 10px;">
                                    <strong>Last Air Date</strong>
                                </td>
                                <td class="bg-dark text-primary text-center" style="padding: 10px;">
                                    {{ tvshow.last_air_date }}
                                </td>
                            </tr>
                            <tr>
                                <td class="bg-dark text-white text-start" style="padding: 10px;">
                                    <strong>Next Episode to Air</strong>
                                </td>
                                <td class="bg-dark text-primary text-center" style="padding: 10px;">
                                    {% if tvshow.next_episode_to_air == None %}
                                        Finished
                                    {% else %}
                                        {{ tvshow.next_episode_to_air }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td class="bg-dark text-white text-start" style="padding: 10px;">
                                    <strong>Number of episodes</strong>
                                </td>
                                <td class="bg-dark text-primary text-center" style="padding: 10px;">
                                    {{ tvshow.number_of_episodes }}
                                </td>
                            </tr>
                            <tr>
                                <td class="bg-dark text-white text-start" style="padding: 10px;">
                                    <strong>Number of seasons</strong>  
                                </td>
                                <td class="bg-dark text-primary text-center" style="padding: 10px;">
                                    {{ tvshow.number_of_seasons }}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <p class="fw-bold">Overview</p>
                    {% if tvshow.overview %}<p>{{ tvshow.overview }}</p>{% else %}<p>...</p>{% endif %}
                    <p class="fw-bold">Actors</p>
                    <div class="mt-4">
                        <p>
                            {% for actor in tvshow.cast %}
                                <span class="badge bg-warning text-dark p-2 mt-2">{{ actor }}</span>
                            {% endfor %}
                        </p>
                        <p class="fw-bold">Genres</p>
                        <p>
                            {% for genre in tvshow.genres %}
                                <span class="badge bg-primary text-dark p-2 mt-2">{{ genre }}</span>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
