{% extends "happy_cherries/base.html" %}

{% block page_header %}{% endblock page_header %}

{% block content %}

<div class="container text-center mt-4">
    <div class="row justify-content-center">
        <div class="col-md-12 position-relative">
            <div class="row align-items-center text-bg-dark border rounded-3 p-3 position-relative">
                <div class="col-md-4 text-center">
                    <img src="{{ tvshow.poster_path }}" class="img-fluid rounded float-start" alt="tvshow_poster">
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-7 text-start">
                    <form method="post" class="position-absolute top-0 end-0 m-3">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success">Save</button>
                    </form>

                    <h1 class="text-center border-bottom border-white mb-4">{{ tvshow.name }}</h1>
                    <p>First Air Date: <span class="fw-bold">{{ tvshow.first_air_date }}</span></p>
                    <p>Last Air date: <span class="fw-bold">{{ tvshow.last_air_date }}</span></p>
                    <p>Next Episode to Air: <span class="fw-bold">
                        {% if tvshow.next_episode_to_air == None %}
                            Finished
                        {% else %}
                            {{ tvshow.next_episode_to_air }}
                        {% endif %}</span></p>
                    <p>Number of episodes: <span class="fw-bold">{{ tvshow.number_of_episodes }}</span></p>
                    <p>Number of seasons: <span class="fw-bold">{{ tvshow.number_of_seasons }}</span></p>
                    <p> {{ tvshow.overview }} </p>
                    <p class="fw-bold">Actors</p>
                    <p>
                        {% for actor in tvshow.cast %}
                            <span class="badge rounded-pill text-bg-danger">{{ actor }}</span>
                        {% endfor %}
                    </p>
                    <p class="fw-bold">Genres</p>
                    <p>
                        {% for genre in tvshow.genres %}
                            <span class="badge rounded-pill text-bg-primary">{{ genre }}</span>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}