{% extends "happy_cherries/base.html" %}

{% block content %}

<h2>{{ movie.title }}</h2>

<img src={{movie.poster}} alt="movie_poster">

<p>{{ movie.overview }}</p>

<p>{{ movie.release_date }}</p>

<p>{{ movie.runtime }} min</p>

<p>{{ movie.tagline }}</p>

<p>{{ movie.status }}</p>

<ul>
    {% for actor in movie.cast %}
        <li>{{actor}}</li>
    {% endfor %}
</ul>

<ul>
    {% for genre in movie.genres %}
        <li>{{genre}}</li>
    {% endfor %}
</ul>

<form method="post">
    {% csrf_token %}
    <button type="submit">Save</button>
</form>

{% endblock content %}