{% extends 'happy_cherries/base.html' %}

{% load django_bootstrap5 %}

{% block page_header %}

<h2>Extended Review</h2>

{% endblock page_header %}

{% block content %}


<form action="{% url "happy_cherries:create_extended_review_tvshow" tvshow.id %}" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {{ form.media}}
    <button type="submit">Save Personal Review</button>
</form>

<script>
    $(function () {
      $("#id_start_date, #id_finish_date").datepicker();
    });
</script>

{% endblock content %}