{% extends "happy_cherries/base.html" %}

{% block content %}

    <h2>{{ tvshow.name }}</h2>

    <img src={{tvshow.poster_path}} alt="tvshow_poster">

    <p>{{ tvshow.overview }}</p>

    <p>{{ tvshow.first_air_date }}</p>

    <p>{{ tvshow.last_air_date }}</p>

    <p>Next episode to air: {{ tvshow.next_episode_to_air }}</p>

    <p>Number of seasons: {{ tvshow.number_of_seasons }}</p>

    <p>Number of episodes: {{ tvshow.number_of_episodes }}</p>

    <ul>
        {% for actor in cast_spl %}
            <li>{{actor}}</li>
        {% endfor %}
    </ul>

    <ul>
        {% for genre in genres_spl %}
            <li>{{genre}}</li>
        {% endfor %}
    </ul>

    <h2>Review</h2>

    <a href="{% url 'happy_cherries:add_review_tvshow' tvshow.id %}">Add Review</a>

    <ul>
        {% for review in reviews %}
            <li>{{ review.score }} % - {{ review.review }} - <a href="{% url 'happy_cherries:edit_review_tvshow' review.id %}">Edit</a></li>
        {% empty %}
            <li>Nothing been added yet</li>
        {% endfor %}
    </ul>

{% endblock content %}