{% extends "happy_cherries/base.html" %}

{% block content %}

<a href="{% url 'happy_cherries:add_tvshow_manual' %}">Add Tv Show</a> - 
<a href="{% url 'happy_cherries:tvshow_search' %}">Search Tv Show</a>

<h2>TV Shows:</h2>

<ul>
    {% for show in tv_shows %}
        <li>
            <a href="{% url 'happy_cherries:tvshow' show.id %}">{{show.name}}
                {% if show.avg_score %} - {{show.avg_score}}{% endif %}
                {% if show.note %} - {{ show.note }}{% endif %}</a>
        </li>
    {% empty %}
        <li>No TV shows have been added yet.</li>
    {% endfor %}
</ul>

{% endblock content %}