{% extends "happy_cherries/base.html" %}

{% block content %}

    <div class="container text-center mt-4">
        <div class="row justify-content-center">
            <div class="col-md-12 position-relative">
                <div class="row position-relative align-items-start text-bg-dark border rounded-3 p-3">
                    <div class="d-flex align-items-center mb-3 w-100">
                    {% if tvshow.avg_score %}
                        {% if tvshow.avg_score < 50 %}
                            <!--Can sett style > position: absolute to fit the badge on top of the image.-->
                            <span class="badge text-bg-danger position-absolute" style="top: 50px; left: 50px; font-size: 16px;">
                                {{ tvshow.avg_score}} %
                            </span>
                        {% else %}
                            <span class="badge text-bg-success position-absolute" style="top: 50px; left: 50px; font-size: 16px;">
                                {{ tvshow.avg_score}} %
                            </span>
                        {% endif %}
                    {% endif %}
                    </div>
                    <div class="col-md-4 text-center d-flex flex-column">
                        <img src="{{ tvshow.poster_path }}" class="img-fluid rounded float-start" alt="tvshow_poster">
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-7 text-start">    
                        <h1 class="text-center border-bottom border-white my-2">{{ tvshow.title }}</h1>
                        <div class="d-flex flex-column position-relative mt-3">
                            {% if note %}
                                <div class="d-flex align-items-center mb-3 w-100">
                                    <span class="badge text-bg-primary text-wrap p-2 ms-2">{{ note.note }}</span>
                                    <a class="badge text-bg-primary text-wrap position-absolute top-0 end-0 p-2" href="{% url 'happy_cherries:edit_note_tvshow' note.id %}" style="text-decoration: none;">Edit Note</a>
                                </div>
                            {% else %}
                                <p class="d-flex align-items-center mb-3 w-100">
                                    <a class="btn btn-primary fw-bold position-absolute top-0 end-0 p-2" href="{% url 'happy_cherries:add_note_tvshow' tvshow.id %}">Add Note</a>
                                </p>
                            {% endif %}
                        </div>
                        <!--Display Movie information-->
                        <div class="container text-start">
                            <div class="row">
                                <div class="col-6 col-sm-5"><p><span class="badge text-bg-danger">First Air Date:</span></p></div>
                                <div class="col-6 col-sm-5"><p><span class="fw-bold">{{ tvshow.first_air_date }}</span></p></div>

                                <!-- Force next columns to break to new line -->
                                <div class="w-100"></div>

                                <div class="col-6 col-sm-5"><p><span class="badge text-bg-danger">Last Air date:</span></p></div>
                                <div class="col-6 col-sm-5"><p><span class="fw-bold">{{ tvshow.last_air_date }}</span></p></div>

                                <!-- Force next columns to break to new line -->
                                <div class="w-100"></div>

                                <div class="col-6 col-sm-5"><p><span class="badge text-bg-danger">Next Episode to Air:</span></p></div>
                                <div class="col-6 col-sm-5"><p><span class="fw-bold">
                                    {% if tvshow.next_episode_to_air == None %}
                                        Finished
                                    {% else %}
                                        {{ tvshow.next_episode_to_air }}
                                    {% endif %}</span></p>
                                </div>

                                <!-- Force next columns to break to new line -->
                                <div class="w-100"></div>

                                <div class="col-6 col-sm-5"><p><span class="badge text-bg-danger">Number of episodes:</span></p></div>
                                <div class="col-6 col-sm-5"><p><span class="fw-bold">{{ tvshow.number_of_episodes }}</span></p></div>

                                <!-- Force next columns to break to new line -->
                                <div class="w-100"></div>
                                
                                <div class="col-6 col-sm-5"><p><span class="badge text-bg-danger">Number of seasons:</span></p></div>
                                <div class="col-6 col-sm-5"><p><span class="fw-bold">{{ tvshow.number_of_seasons }}</span></p></div>
                            </div>
                        </div>
                        <p> {{ tvshow.overview }} </p>
                        <p class="fw-bold">Actors</p>
                        <div class="mt-4">
                            <p>
                                {% for actor in tvshow.cast_spl %}
                                    <span class="badge bg-warning text-dark">{{ actor }}</span>
                                {% endfor %}
                            </p>
                            <p class="fw-bold">Genres</p>
                            <p>
                                {% for genre in tvshow.genres_spl %}
                                    <span class="badge bg-primary text-dark">{{ genre }}</span>
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12 position-relative" style="margin-top: 20px;">
                        <a class="btn btn-primary fw-bold position-absolute end-0" href="{% url "happy_cherries:create_extended_review_tvshow" tvshow.id %}">
                            Personal Review
                        </a>
                    </div>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-2 text-start" style="margin-top: 70px;">
                        <p>Status:</p>
                        <p>Episodes watched:</p>
                        <p>Start date watching:</p>
                        <p>Start date unknown:</p>
                        <p>Your score:</p>
                        <p>Finish date:</p>
                        <p>Finish date unknown:</p>
                    </div>
                    <div class="col-md-2 text-start" style="margin-top: 70px;">
                        <p>{{ extended_review.status }}</p>
                        <p>{{ extended_review.episodes_watched }}</p>
                        <p>{{ extended_review.start_date }}</p>
                        <p>{{ extended_review.start_date_unknown }}</p>
                        <p>{{ extended_review.your_score }}</p>
                        <p>{{ extended_review.finish_date }}</p>
                        <p>{{ extended_review.finish_date_unknown }}</p>
                    </div>
                    <div class="col-md-2 text-start" style="margin-top: 70px;">
                        </p>Priority:</p>
                        </p>Times Rewatched:</p>
                        </p>Rewatch value:</p>
                        </p>Extensive comment:</p>
                    </div>
                    <div class="col-md-2 text-start" style="margin-top: 70px;">
                    </p>{{ extended_review.priority }}</p>
                    </p>{{ extended_review.total_times_rewatched }}</p>
                    </p>{{ extended_review.rewatch_value }}</p>
                    </p>{{ extended_review.comment }}</p>
                </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Ensure the box has a position property set that allows position within it.-->
    <div class="position-relative bg-dark text-bg-dark border rounded-2 mt-4 p-2">
        <h2 class="text-center">Reviews</h2>

        <div class="position-absolute top-0 end-0 m-3">
            <a class="btn btn-primary fw-bold mx-2" href="{% url 'happy_cherries:add_review_tvshow' tvshow.id %}">Add Review</a>
        </div>
        <div class="row">
            {% for review in reviews %}
                <div class="col-md-6">
                    <section class="mx-auto my-4">
                        <div class="card position-relative">
                            <div class="card-header d-flex align-items-center">
                                <h5 class="card-title font-weight-bold my-2">{{ review.owner }}</h5> 
                            </div>
                            <div class="card-body">
                                <div class="card-text mb-0">
                                    <p>
                                      {{ review.review|linebreaks }}
                                    </p>
                                    <hr>
                                    <p class="fw-bold d-flex align-items-center">
                                    {{ review.score }} %
                                    <!--ms-auto pushes it to the far right within the flex container, ensuring it aligns horizontally with the "User" title.-->
                                    {% if request.user == review.tvshow.owner %}
                                    <a class="btn btn-warning fw-bold ms-auto me-2" href="{% url 'happy_cherries:edit_review_tvshow' review.id %}">Edit</a>
                                    <a class="btn btn-danger fw-bold" href="{% url 'happy_cherries:delete_review_tvshow' review.id %}">Delete</a>
                                    {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            {% empty %}
                <p>No reviews have been added</p>
            {% endfor %}
        </div>
    </div>  

{% endblock content %}